<div class="container-fluid reminder-head">
    <div class="row">

        <h1 class="reminders text-center">Reminders </h1><button ng-click="form = !form" class="btn btn-lg btn-success addReminder">+</button>

    </div>

</div>
<div class="container">

    <div class="row">
        <div ng-show="form">
            <div class="form-box col-xs-offset-4 col-xs-4">
                <input type="text" placeholder="Title..." ng-model="data.title">
                <input type="text" placeholder="Message..." ng-model="data.message">
                <select name="occurence" ng-model="data.occurence">
                    <option value="One Time">One Time</option>
                    <option value="Daily">Daily</option>
                </select>
                <select name="time" ng-model="data.time">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">6</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select name="minute" ng-model="data.minute">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                <select name="amPm" ng-model="data.amPm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <button ng-click="createReminder(data)"></button>
            </div>
        </div>
        <div class="col-xs-6" ng-repeat="remind in reminders track by $index">
            <div class="reminder-box">
                <h3 class="text-center">{{remind.title}}</h3> <span><a class="deleteX" ng-click="deleteReminder($index)">x</a></span>
                <p class="text-center para">{{remind.message}}</p>
                <p class="text-center">{{remind.time}}</p>
                <p class="text-center">{{remind.occurence}}</p>
            </div>
        </div>


    </div>

</div>

